* {

  /* tokyo-night */
  background-color: #1a1b26;
  color: #cdd7f4;
  color: #8a8a8d;

  /* monochrome */
  /* background-color: #282828; */
  /* color: #d4d4d4; */

  /* Matte-Black */
  /* background-color: #1e1e1e; */
  /* color: #8a8a8d; */

  border: none;
  border-radius: 0;
  min-height: 0;
  /* font-family: 'JetBrainsMono Nerd Font'; */
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 13px;
  font-weight: 700;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#memory,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 8.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
